<div> 
    <nav id="provider-dashboard-nav"> 
        <h1>Welcome, {{ name }} </h1>
        <h6> Provider Mode</h6>
    </nav>
</div>
<div id="dashboard-body">
    <div id="post-list">
        <div class="post">
            <h4>Upcoming Service Opportunities</h4>
            <div id="post-title">
                <p> Your latest service opportunity {{task.name}} </p>
            </div>
            <div id="post-username">
                <p> {{name}} could use some help. </p>
            </div>
            <div id="post-date">
                <p> Posted on {{date}} </p>
            </div>
            <div id="post-location">
                <p> Service Location: {{location}} </p>
            </div>
            <div id="post-expertise">
                <p> Service Category: {{service.name}} </p>
            </div>
            <div id="post-description">
            <p> {{task.description}} </p>
            <button id="acceptbtn" class="help-btn btn-primary">Accept Task</button>
        </div>
    </div>
    </div>
    <div id="current-tasks">
        <h4>Current Task Info</h4>
               <div class="currentpost">
                <div id="currentpost-title">
                    <p> Service Needed: {{task.name}} </p>
                </div>
                <div id="currentpost-username">
                    <p> Reciever: {{name}} is recieving your help. </p>
                </div>
                <div id="currentpost-date">
                    <p> Post Date: {{date}} </p>
                </div>
                <div id="currentpost-location">
                    <p> Service Location: {{location}} </p>
                </div>
                <div id="currentpost-expertise">
                    <p> Service Category: {{service.name}} </p>
                </div>
                <div id="currentpost-description">
                <p> Service Description: {{task.description}} </p>
        <button id="completedbtn" class="completed-btn btn-primary">Task Completed</button>
    </div>
</div>


</div>
<script src="./js/provider.js"></script>
<script src="./js/logout.js"></script>