<div>
    <nav id="reciever-dashboard-nav">
        <h1>Welcome, {{ users.name }} </h1>
        <h6> Receiver Mode</h6>
            <button id="newpostbtn" class="completed-btn btn-primary">Make a NEW post</button>

    </nav>
</div>
<div id="dashboard-body">
    <div id="mypost-list">
       <h3>Here are all of the tasks per your requests, {{users.name}}</h3>
        {{#each tasks as |task|}}
        <div class="mypost">
            <h4> My Service Requests</h4>
            <div id="mypost-title">
                <p> Post Title: {{task.name}} </p>
            </div>
            <div id="mypost-username">
                <p> My Username:{{task.users.name}} </p>
            </div>
            <div id="mypost-date">
                <p> Service must be completed by {{format_date task.postDate}} </p>
            </div>
            <div id="mypost-expertise">
                <p> Service Category: {{serviceNumbers task.serviceId}} </p>
            </div>
            <div id="mypost-description">
                <p> Description: {{task.description}} </p>
            </div>
        </div>
        {{/each}} 
    </div>
    <div class="currentcontainer">
        
        <div id="mycurrent-tasks">
            <h4>Current Task Info</h4>
            {{#each acts as |act|}}
            <div class="currentpost">
                <p  hidden id=taskcompleteId>{{act.id}}</p>
                <div id="currentpost-title">
                    <p> Service Needed: {{act.name}} </p>
                </div>
                <div id="currentpost-username">
                    <p> Receiver: {{act.users.name}} is receiving your help. </p>
                </div>
                <div id="currentpost-date">
                    <p> Post Date: {{format_date act.postDate}} </p>
                </div>
                <div id="currentpost-location">
                    <p>Email:{{act.user.email}}</p>
                </div>
                <div id="currentpost-expertise">
                    <p> Service Category: {{serviceNumbers act.serviceId}} </p>
                </div>
                <div id="currentpost-description">
                    <p> Service Description: {{act.description}} </p>
                </div>
                <button id="completedbtn" class="completed-btn btn-primary">Task Completed</button>
            </div>
            {{/each}}
        </div>


    </div>
<script src="./js/logout.js"></script>

{{!-- 
make sure to take this out before you pull to main --}}
<script src="./js/receiver.js"></script>

